@import "tailwindcss";

/* Reveal.js */
@import "reveal.js/dist/reveal.css";

[hidden] {
  display: inherit !important;
}

html {
  height: 100% !important;
  min-height: 100% !important;
  margin: 0;
  border: 1px solid green;
  box-sizing: content-box !important;
}

body {
  height: 100% !important;
  min-height: 100% !important;
  margin: 0;
  border: 1px solid red;
  box-sizing: content-box !important;
}

#root {
  height: 100% !important;
  min-height: 100% !important;
  margin: 0;
  border: 1px solid black;
  box-sizing: content-box !important;
}

/* src/styles/reveal-isolation.css */
.reveal-container {
  /* Reset Tailwind's influence */
  all: initial;

  /* Restore necessary browser defaults */
}
